body{
    background-color: #111;
    color: white;
}

.bordered{
    border: 5px solid white;
    border-collapse: collapse;
    border-spacing: 1em;
    text-align: center;
    font-size: xx-large;
    color:white;
    transition: color 100ms;
    transition: background-color 100ms;
    text-decoration: none;
}

.bordered:hover{
    background-color: white;
    color: black;
}

h1{
    text-align: center;
    font-size: 5rem;
}

.tcenter{
    text-align: center;
}

div.tcenter{
    font-size: 3em;
}

.dcenter{
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.gblue{
    color: #4285f4
}

.ggreen{
    color: #34a853
}

.gyellow{
    color:#fbbc05
}

.gred{
    color:#ea4335
}

.ytcolor{
    color:#c4302b
}

.dflex{
    display: flex;
    flex-wrap: wrap;
}

.flexrow{
    flex-direction: row;
    width: 100%;
}

.flexcol{
    flex-direction: column;
}

.flex-spbw{
    justify-content: space-between;
}

.flex-left{
    align-items: flex-start;
}

#search{
    background-color: black;
    width: 70%;
    height: auto;
    margin: 2em auto;
    box-shadow:  -10px 0 0 0 white,
                 10px 0 0 0 white,
                 0 -10px 0 0 white,
                 0 10px 0 0 white;
    display: flex;
}

#search > input{
    background-color: black;
    color: white;
    font-size: 2em;
    flex-grow: 2;
    outline: none;
    border: none;
    width: 100%;
}

input{
    caret: white underscore;
}

::selection {
    background-color: #FFD700;
    color: #000;
}

#search > input:focus, #search > input:hover{
    outline: none;
    border: none;
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }
  

.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pixel-font{
    font-family: Pixel-Font;
    font-size: larger;
}

.blinking-text {
    display: inline-block;
    animation: blink 1.5s steps(2, start) infinite;
    color: white;
}

.button{
    border: white 5px;
    background-color: black;
    cursor:pointer;
    transition: background-color 200ms;
    transition: color 200ms;
    font-family: Pixel-Font;
    color: white;
    font-size: larger;
}

.button-add{
    border: white 5px;
    background-color: initial;
    cursor:pointer;
    transition: background-color 200ms;
    transition: color 200ms;
    color: #66bb6a;
    font-size: inherit;
}

.button-add:hover{
    background-color: #66bb6a;
    color: black;
}

.button-close{
    border: white 5px;
    background-color: initial;
    cursor:pointer;
    transition: background-color 200ms;
    transition: color 200ms;
    color: #e74c3c;
    font-size: inherit;
}

.button-close:hover{
    background-color: #e74c3c;
    color: black;
}

.tbutton{
    width: 100%;
    background-color: inherit;
}

.button:hover{
    background-color: white;
    color: black;
}

.others{
    width: 70%;
    height: auto;
    margin: 2em auto;
    box-shadow:  -10px 0 0 0 white,
                 10px 0 0 0 white,
                 0 -10px 0 0 white,
                 0 10px 0 0 white;
    font-size: 3em;
    padding: 0 0.2em;
    padding-right: 0;
}

hr{
    margin: 0 -0.4em;
    margin-right: -0.2em;
    margin-bottom: 5px;
    border: 0;
    border-top: 5px solid white;
}

/* Estilo general del modal */
.modal {
    display: none; /* Por defecto está oculto */
    position: fixed;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
}

/* Contenedor del contenido del modal */
.modal-content {
    background-color: #222; /* Fondo oscuro del modal */
    color: white;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow:  -10px 0 0 0 white,
    10px 0 0 0 white,
    0 -10px 0 0 white,
    0 10px 0 0 white;
}

.modal-navigation{
    font-size: 2em;
    margin-left: 4px;
}

/* Estilo del encabezado del modal */
.modal-header {
    font-size: 2em;
    margin-bottom: 1em;
}

/* Estilo del texto dentro del modal */
.modal-body {
    padding: 0 10px;
    font-size: 1.2em;
    margin-bottom: 2em;
    font-size: 2em;
}

.modal-input{
    background-color: black;
    color: white;
    font-size: 1em;
    outline: none;
    border: 5px white solid;
}

.modal-input-1char{
    width: 1.5em;
    text-align: center;
}

@font-face {
    font-family: Pixel-Font;
    src: url(fonts/Unifontexmono-DYWdE.ttf);
}

@font-face {
    font-family: "Jersey 10";
    src: url(fonts/Jersey10-Regular.ttf);
}

@font-face {
    font-family: "Jersey 25";
    src: url(fonts/Jersey25-Regular.ttf);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}